<!--FOOTER-->

<footer class="page-footer">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <p class="grey-text text-lighten-4">If you feel unwell, have a cold,a cough or a fever, <br> Please call <strong>719</strong>  or text  <strong>#719</strong> .</p>
        </div>
        <div  class="col-md-3">
          <ul>
            <li>Ministry of Health<li></li>
            <li> Afya House, Cathedral Road,</li>
            <li>  P.O. Box:30016–00100, Nairobi, Kenya.</li>
            </ul>
        </div>
        <div class="col-md-3">
        
          <ul>
            
            <li>Telephone: +254-20-2717077</li>
              <li>Email: ps@health.go.ke</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      © 2020 Copyright MOH
      </div>
    </div>
  </footer>
  
