<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

<app-navbar></app-navbar>

<div class="container" style="margin-top: 100px;">
    
    <h1>COVID-19 FACTS</h1> 
    <div class="row">
        <div class="col-sm-3 alert-warning">
          <h4>Confimed Cases</h4> <hr>
          <p> <strong>13,353</strong></p>
        </div>
        <div class="col-sm-3 alert-danger">
          <h4>Number of Deaths</h4> <hr>
          <p><strong>238 </strong> </p>
        </div>
        <div class="col-sm-3 alert-success">
          <h4>Number of Recoveries</h4> <hr>
          <p><strong>5,616 </strong></p>
        </div>
      </div>
    <p>
        COVID-19 is an illness caused by a <strong> Corona Virus </strong> that can spread from one person to another.
        The virus was first detected in late 2019 in Wuhan, China and has since spread globally.
        
        COVID-19 symptoms can range from mild(or no symptoms) to severe illness.
         Here is what you need to know:
    </p>
    <div >
    <h5>Signs andSymptoms  of COVID-19</h5>
    <p>Not everyone who gets coronavirus has symptoms, but when they do they can range from mild to severe. These are the primary symptoms:</p>
    <ul>
        <li>Fever</li>
        <li>Cough</li>
        <li>Fatigue</li>
        <li>Shortness of breath</li>
        <li> Headache</li>    
    </ul>
    <p>Some people may also experience:</p>
    <ul>
    <li>Body aches</li>
    <li>Nasal congestion</li>
    <li>Runny nose</li>
    <li>Sore throat</li>
    <li>Diarrohea</li>
</ul>
<p>
    If you, or someone you know are experiencing any of the following symptoms,<strong> please go to a hospital immediately. You are having a medical emergency.</strong></p>
<ul>
<li>Severe difficulty breathing (e.g., struggling for each breath, speaking in single words)</li>
<li>Severe chest pain</li>
<li>Confusion (for example, unsure of where you are)</li>
<li>Lost consciousness or extreme difficulty waking up</li>
<li>A high fever (your temperature is above 38° Celsius/100.4° Fahrenheit)</li>
</ul>
</div>
<div>
<h5>I am at high risk of complications from COVID-19 if?</h5>
<ul>
    <li>I am undergoing a medical treatment that suppresses my immune system (for example, HIV/AIDS, cancer/chemotherapy/radiation).</li>
    <li>I have a chronic health condition (for example, diabetes, high blood pressure, heart condition).</li>
    <li>I have a respiratory or lung condition.</li>
    <li>I have been treated for tuberculosis.</li>
</ul>
<p>If one or more of the above apply to you, take additional precautions to prevent getting infected with COVID-19. 
    Monitor your symptoms carefully and if they become more serious, call the ministry hotlines immediately.</p>
</div>
 <div>
    <h5>How do i get infected?</h5>
    <ul>
        <li>COVID-19 is primarily spread from person to person via respiratory droplets when an infected person coughs, sneezes, or talks.</li>
        <li>You may also contract COVID-19 by touching a surface or object with the virus on it, and then touching your mouth, nose, or eyes.</li>
    </ul>
</div>
 <div>
    <h5>How do i protect myself?</h5>
    <ul>
        <li>Wash your hands frequently with soap and water for at least 30 seconds.</li>
        <li>Clean your hands with hand sanitizer when soap and water are not available.</li>
        <li>Disinfect surfaces you are frequently in contact with, such as door knobs, tables, light switches, toilets, etc.</li>
        <li>Maintain two or more meters distance between yourself and anybody else, especially if they show symptoms.</li>
        <li>Do not shake hands, hug or touch anybody.</li>
        <li>Avoid large gatherings of people, including sporting events, religious gatherings, parties, etc.</li>
        <li>Wear a mask when you are outside of your home, or if you are feeling sick.</li>
    </ul>
</div>
</div>
<app-footer></app-footer>
