 .covid-table{
     margin-top: 30px;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
    }
    
hr{
    color: #000000;
}
    
table{
    text-align: center;
    color: #1D3557;
    border-radius: 5px;
 }

 td {
     background-color: #a8dadc7a;
    border-bottom: 1px solid white;
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
    padding: 5px;
  }

th{
    background-color: #a8dadc;
    color: #5c8f92;
    border-bottom: 3px solid #e63947ad;
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    font-weight: bolder;
    font-size: 16px;
    padding: 5px;
}

#map{
    width: 80%;
   height: 60vh;
   background-color: grey;
}
.map-content{
    margin-top: 40px;
    font-family: 'Quicksand', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

hr{
    border: #a8dadc 1px solid;
    border-radius: 3px;
    margin: 30px 80px;
    width: 50vw;
}

.text{
    font-weight: bold;
    font-size: 18px;
    padding: 10px;
}
.footer{
    background-color: #e6394733;
}