


<div class="container">
   <!--PLACE HOLDER FOR MAP-->
   <p class="text-danger"><strong> Number of Confirmed cases: 13,353 </strong></p>
   <div class="map-content">
       <google-map
       height="500px"
       width="100%"
       [zoom]="zoom"
       [center]="center"
       [options]="options"
       >
       <map-marker
       *ngFor="let marker of markers"
       [position]="marker.position"
       [label]="marker.label"
       [title]="marker.title"
       [options]="marker.options"
       (click)="openInfo(marker.elem, marker.info)"
     >
     </map-marker>

     <map-info-window>{{ infoContent }}</map-info-window>

    </google-map>
   </div>
</div>


<div class="container covid-table">
  <hr>
   <table *ngIf="county$" style="width:80%">
      <tr>
        <th>County</th>
        <th>Population</th>
        <th>Total Cases</th>
        <th>Death Cases</th>
        <th>Recovered Cases</th>
        <th>Active Cases</th>
      </tr>
      <tr *ngFor="let county of county$">
        <td>{{ county.countyName }}</td>
        <td>{{ county.countyPopulation }}</td>
        <td>{{ county.totalCases }}</td>
        <td>{{ county.deathCases }}</td>
        <td>{{ county.recoveredCases }}</td>
        <td>{{ county.activeCases }}</td>
      </tr>
      <tr>
        <td>Eve</td>
        <td>Jackson</td>
        <td>94</td>
      </tr>
    </table>
</div>
