


<div class="container map-content">

  <p class="text">Status per county as of 23rd June, 2020</p>

   <!--PLACE HOLDER FOR MAP-->
   <div id="map" ></div>
<p class="text text-danger">Map of Covid-19 spread</p>

<hr>

</div>


<div class="container covid-table">
   <table *ngIf="county$" style="width:80%">
      <tr>
        <th>County</th>
        <th>Population</th>
        <th>Total Cases</th>
        <th>Death Cases</th>
        <th>Recovered Cases</th>
        <th>Active Cases</th>
      </tr>
      <ng-template ngFor let-county [ngForOf]="county$" let-i="index">
        <tr *ngIf="i<15">
          <td>{{ county.countyName }}</td>
          <td>{{ county.countyPopulation }}</td>
          <td>{{ county.totalCases }}</td>
          <td>{{ county.deathCases }}</td>
          <td>{{ county.recoveredCases }}</td>
          <td>{{ county.activeCases }}</td>
        </tr>
      </ng-template>
      <tr>
        <td class="footer" colspan="6"><p class="text text-danger"> Number of Confirmed cases: 13,353 </p></td>
      </tr>
    </table>
</div>
