<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

   
<!--NAVBAR-->
<div class="bg-img">
  <app-navbar></app-navbar>
  <div class="container content text-center" style="color: white;">
    <h1 class=" text-danger" style="font-weight:700;"> KOMESHA CORONA</h1>  <br>
    <p>More than 9.1 million cases of COVID-19 have now been reported to WHO, and more than 470,000 deaths. 
      In the first month of this outbreak, less than 10,000 cases were reported to WHO. In the last month, almost 4 million cases have been reported.
    We need to stand together and fight this disease.
    </p> <br>
   <p><span style="font-style: italic;">If we continue behaving nomarlly this disease will treate us abnormaly. <br>~Mutahi Kagwe</span> </p>
  </div>
</div>

<!--THUMBNAILS-->
<div class="con">
<div class="container">
<div class="row text-center">
  <div class="col-sm-4">
    <div class="thumbnail">
      <img src="assets/Images/icons8-coronavirus-100.png" alt="coronavirus">      
      <p>COVID-19 is an illness caused by a coronavirus that can spread from person to person. 
        The virus was first detected in late 2019 in Wuhan, China and has since spread globally.</p> 
    </div>
  </div>
  <div class="col-sm-4">
    <div class="thumbnail">
      <img src="assets/Images/icons8-protection-mask-100.png" alt="Man with mask">     
      <p>Maintain two or more meters distance between yourself and anybody else, especially if they show symptoms.
        Do not shake hands, hug or touch anybody.
        Avoid large gatherings of people, including sporting events, religious gatherings, parties, etc.
        Find more guidelines on physical distancing</p>
      
    </div>
  </div>
  <div class="col-sm-4">
    <div class="thumbnail">
      <img src="assets/Images/icons8-wash-your-hands-96.png" alt="Wash hands">
      <p>Clean your hands with hand sanitizer when soap and water are not available.
        Hand sanitizer is less effective when your hands are visibility dirty.
         If they are, then you should wash with soap and water.</p>
      
    </div>
  </div>
</div>
</div>          
</div> 
<app-maps></app-maps>

<app-footer></app-footer>